<div class="row">
	<div data-hook="odmailer">
		<div data-hook="odmailer_form_fields" class="col-md-10">

			<div data-hook="email">
				<%= f.field_container :name, class: ['form-group'] do %>
				<%= f.label :email, "email" %>
				<br />
				<%= f.text_field :email, class: 'form-control' %>
				<% end %>
			</div>

		</div>

	</div>
</div>
